.buttonsClassAddToCartButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8px;
    margin-bottom: 8px;
}

.changAmount {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.addToCart {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.removeFromCart {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.button {
    min-width: 122px;
}

.plusInProduct {
    background-color: #dd6e6e;
    /* background-color: transparent; */
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.minusInProduct {
    background-color: #53d4ff;
    /* background-color: transparent; */
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.add {
    background-color: #9befd7;
}

.remove {
    background-color: #e0b0ff;
}

.hover {
    cursor: pointer;
}

.size {
    height: 24px;
    width: 24px;
}
