.productInCart {
    width: 23%;
    height: 10rem;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.adjustAmountInCart {
    display: flex;
    justify-content: space-between;
    margin: 0px 5px;
}